/*----------------------------------------------------*/
/*----------------- Testimonials CSS -----------------*/
/*----------------------------------------------------*/
.testimonial{
    margin-bottom: 10px;
}
body{
    background-color:white;
}
    .testimonial-section {
        width: 100%;
        height: auto;
        padding: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        position: relative;
        border: 1px solid #fff;
    }
    .testimonial-section:after {
        top: 100%;
        left: 50px;
        border: solid transparent;
        content: " ";
        position: absolute;
        border-top-color: #fff;
        border-width: 15px;
        margin-left: -15px;
    }

    .testimonial-desc {
        margin-top: 20px;
        text-align:left;
        padding-left: 15px;
    }
        .testimonial-desc img {
            border: 1px solid #f5f5f5;
            border-radius: 150px;
            height: 70px;
            padding: 3px;
            width: 70px;
            display:inline-block;
            vertical-align: top;
        }
        h1{
            color:#5f2315;
        }
        .testimonial-writer{
            display: inline-block;
            vertical-align: top;
            padding-left: 10px;
        }

            .testimonial-writer-name{
                font-weight: bold;
            }

            .testimonial-writer-designation{
                font-size: 85%;
                color:#5f2315;
            }

            .testimonial-writer-company{
                font-size: 85%;
            }
   
     /*---- Outlined Styles ----*/
    .testimonial.testimonial-default{
        
    }
        .testimonial.testimonial-default .testimonial-section{
            border-color: #6E2727;
        }

            .testimonial.testimonial-default .testimonial-section:after{
                border-top-color: #6E2727;
            }

        .testimonial.testimonial-default .testimonial-desc{
            
        }

            .testimonial.testimonial-default .testimonial-desc img{
                border-color: #6E2727;
            }

            .testimonial.testimonial-default .testimonial-writer-name{
                color: #6E2727;
            }

    .testimonial.testimonial-primary{
        
    }
        .testimonial.testimonial-primary .testimonial-section{
            border-color: #6E2727;
            color: #fff;
            background-color: #6E2727;
        }

            .testimonial.testimonial-primary .testimonial-section:after{
                border-top-color: #6E2727;
            }

        .testimonial.testimonial-primary .testimonial-desc{
            
        }

            .testimonial.testimonial-primary .testimonial-desc img{
                border-color: #6E2727;
            }

            .testimonial.testimonial-primary .testimonial-writer-name{
                color: #6E2727;
            }

    .testimonial.testimonial-info{
        
    }
        .testimonial.testimonial-info .testimonial-section{
            border-color: #6E2727;
            color: #6E2727;
           
        }

            .testimonial.testimonial-info .testimonial-section:after{
                border-top-color: #6E2727;
            }

        .testimonial.testimonial-info .testimonial-desc{
            
        }

            .testimonial.testimonial-info .testimonial-desc img{
                border-color: #6E2727;
            }

            .testimonial.testimonial-info .testimonial-writer-name{
                color: #6E2727;
            }


    .testimonial.testimonial-success{
        
    }
        .testimonial.testimonial-success .testimonial-section{
            border-color: #6E2727;
            color: #fff;
            background-color: #6E2727;
        }

            .testimonial.testimonial-success .testimonial-section:after{
                border-top-color: #6E2727;
            }

        .testimonial.testimonial-success .testimonial-desc{
            
        }

            .testimonial.testimonial-success .testimonial-desc img{
                border-color: #6E2727;
            }

            .testimonial.testimonial-success .testimonial-writer-name{
                color: #6E2727;
            }

    .testimonial.testimonial-warning{
        
    }
        .testimonial.testimonial-warning .testimonial-section{
            border-color: #6E2727;
            color: #6E2727;
        }

            .testimonial.testimonial-warning .testimonial-section:after{
                border-top-color: #6E2727;
            }

        .testimonial.testimonial-warning .testimonial-desc{
            
        }

            .testimonial.testimonial-warning .testimonial-desc img{
                border-color: #6E2727;
            }

            .testimonial.testimonial-warning .testimonial-writer-name{
                color: #6E2727;
            }

    .testimonial.testimonial-danger{
        
    }
        .testimonial.testimonial-danger .testimonial-section{
            border-color: #6E2727;
            color: #fff;
            background-color: #6E2727;
        }

            .testimonial.testimonial-danger .testimonial-section:after{
                border-top-color: #6E2727;
            }

        .testimonial.testimonial-danger .testimonial-desc{
            
        }

            .testimonial.testimonial-danger .testimonial-desc img{
                border-color: #6E2727;
            }

            .testimonial.testimonial-danger .testimonial-writer-name{
                color: #6E2727;
            }
            

