header{
  background-color: #CCCCCC;
}
body {
  font-size: 16px;
  color: #fff;
  background-color: #CCCCCC;
  font-family: 'Oxygen', sans-serif;
}
.jumbotron>p{
  margin-left:5px;
  text-align: justify;
}
#header-nav {
  background-color: white;
  border-radius: 0;
  border: 0;
  box-sizing:border-box;
}
#search{
      border-radius: 5px;
    margin-top:5px;
    height: 35px;
}
#input{
  margin:0 0 5px 5px;
  width:250px;
}
button{
  position: absolute;
    right: 2%;
}

#clg{
 font-family: 'Playfair Display', serif;
  position:absolute;
  right:20px;
  font-size:1.5em;
 font-weight:bold;
  color:black;vertical-align: middle;
  padding:0;
 margin-top:30px;
 text-align:center;
}
#logo-img {
  background-image: url("j.jpg");
    background-repeat: no-repeat;
  width: 240px;
  height: 160px;
  margin: 10px 15px 10px 0;
padding :10px;}

.navbar-brand {
  padding-top: 25px;
  
}
.navbar-brand h1 { 
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  color:black;
 /* width:550px;*/
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#slogan {
  text-align: right;
  color: black;
  text-transform: uppercase;
  font-size: 1em;
  margin-top: 15px;
}
.navbar-brand p span { 
  vertical-align: middle;
}
#header-nav{
  margin-bottom: 0;
}
#nav-list {
  margin-top: 10px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
  padding:0;
background-color:#262626;
      margin-top: 50px;
}

@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 900px;
    overflow:hidden;
     background-position: center;
    padding:0;
  }
  col-lg-4{width:33%;
}
input{
  width:250px;
}

}


@media (min-width: 992px) and (max-width: 1199px) {
 
  /*#logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 80%;
    height: 80%;
    margin: 5px 5px 5px 0;
  }*/
  input{
  width:200px;
}
#slogan{
  margin-bottom:10px;
}
  .container .jumbotron {
    background: no-repeat;
    height: 804px;
    padding:0;
  }col-md-12{
    width:100%;
  }
 col-md-6{
  width:50%;}
}


@media (min-width: 768px) and (max-width: 991px) {
input{
  width:150px;
}
  .container .jumbotron {
    /*background: url('../images/jumbotron_768.jpg') no-repeat;*/
    height: 605px;
    padding:0;
     margin-top: 50px;
  }
 .jumbotron>p{
    height: 150px;
    overflow:auto;
  }
  .jumbotron p {
    font-size: 16.5px;
}
  #logo-img{
    float:left;
  }
  #clg{
    font-size:1.1em;
    position:absolute;
    right:10px;
  }
  .navbar-brand h1 {
    width:80%;
    font-size:3em;
  }
}

@media (max-width: 767px) {
  col-sm-12{
    width:100%;
  }
  input{
  width:150px;
}
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; 
   width: 80%;
  }
  #slogan{ 
    font-size: .7em;
    margin-top: 12px;
  }
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; 
  }
  .panel-footer section hr {
    width: 50%;
  }
  .container .jumbotron {
    margin-top: 50px;
    padding: 0;
  }
  .jumbotron>p{
    height: 200px;
    overflow:auto;
    font-size: 18px;
  }
 #sponsors,#event,#map{
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
  margin-bottom:30px;
  }
   #logo-img {
    background: url('j3.jpg') no-repeat;
    margin: 5px 5px 5px 5px;
    width: 100px;
    height: 85px;
}
  #clg{
    font-size:0.8em;
  }
  #img-size {
    padding-right: 5px;
    height: 150px;
    width: 110px;
}
 #map span,#sponsors span,#event span{
    width: 100%;
  }
}

@media (max-width: 479px) {
  input{
  width:200px;
}
.container .jumbotron {
    margin-top: 50px;
    padding: 0;
  }
  .navbar-brand{
        padding: 10px 10px 0 0;
  }
  .navbar-brand h1 {  
    padding-top: 5px;
    font-size: 6vw;
  }
    .panel-footer {
    padding-top: 0;
    padding-bottom: 15px;
    background-color: #222;
    border-top: 0;
    font-size: 0.6em;
}
.panel-footer section {
    margin-bottom: 10px;
        margin-top: 20px;
    text-align: center;
}
.panel-footer div.row {
    margin-bottom: 15px;
}
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
  .jumbotron p {
    font-size: 16.5px;
}
  #slogan{
    font-size:0.5em;
  }
  #img-size {
    padding-right: 5px;
        height: 100px;
    width: 75px;
}
  
  #logo-img{
    background: url('j3.jpg') no-repeat;
    margin: 5px 5px 5px 0;
    height: 85px;
    width: 100px;
  }
  #clg{
    font-size:0.6em;
    position: absolute;
    right: 5px;
  }
  #map span,#sponsors span,#event span{
    width: 100%;
  }
}
