header{
  background-color: #CCCCCC;
}
body {
  font-size: 16px;
  color: #fff;
  background-color: #CCCCCC;
  font-family: 'Oxygen', sans-serif;
}
toggle:hover {
    background-color: white;
}
#header-nav {
  background-color: white;
  border-radius: 0;
  border: 0;
  box-sizing:border-box;
}
#search{
      border-radius: 5px;
    margin-top:5px;
    height: 35px;
}
.glyphicon-search:before {
    content: "\e003";
    /* float: right; */
    position: relative;
    left: 270px;
    top: 15px;
}
#input{
  margin:0 0 5px 5px;
  width:250px;
}
button{
  position: absolute;
    right: 2%;
}

#clg{
 font-family: 'Playfair Display', serif;
  position:absolute;
  right:20px;
  font-size:1.5em;
 font-weight:bold;
  color:black;vertical-align: middle;
  padding:0;
 margin-top:30px;
 text-align:center;
}
#logo-img {
  background-image: url("j.jpg");
    background-repeat: no-repeat;
  width: 240px;
  height: 160px;
  margin: 10px 15px 10px 0;
padding :10px;}

.navbar-brand {
  padding-top: 25px;
  
}
.navbar-brand h1 { 
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  color:black;
 /* width:550px;*/
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#slogan {
  text-align: right;
  color: black;
  text-transform: uppercase;
  font-size: 1em;
  margin-top: 15px;
}
.navbar-brand p span { 
  vertical-align: middle;
}
#header-nav{
  margin-bottom: 0;
}
#nav-list {
  margin-top: 10px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
  padding:0;
background-color:#262626;
      margin-top: 50px;
}

@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 900px;
    overflow:hidden;
     background-position: center;
    padding:0;
  }
#input, #search{
  width:250px;
}
.glyphicon-search:before {
    position: relative;
    left: 270px;
    top: 15px;
}
#input{
  height:25px;
}
}


@media (min-width: 992px) and (max-width: 1199px) {
 
  /*#logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 80%;
    height: 80%;
    margin: 5px 5px 5px 0;
  }*/
  .glyphicon-search:before {
    position: relative;
    left: 220px;
    top: 15px;
}
  #input, #search{
  width:200px;
}
#clg{
      font-size: 1em;
}
h1{
      font-size: 3.5em;
}
#logo-img {
  width:200px;
}
#slogan{
  margin-bottom:10px;
  font-size: 0.8em;
}
  .container .jumbotron {
    background: no-repeat;
    height: 804px;
    padding:0;
  }col-md-12{
    width:100%;
  }
 col-md-6{
  width:50%;}
}


@media (min-width: 768px) and (max-width: 991px) {
#input, #search{
  width:150px;
}
.container {
    width: 750px;
    height: 150px;
}
.glyphicon-search:before {
    position: relative;
    left: 170px;
}
  .container .jumbotron {
    /*background: url('../images/jumbotron_768.jpg') no-repeat;*/
    height: 605px;
    padding:0;
     margin-top: 50px;
  }
 .jumbotron>p{
    height: 150px;
    overflow:auto;
  }
  .jumbotron p {
    font-size: 16.5px;
}
 #logo-img {
    float: left;
    width: 160px;
    height: 120px;
    margin-top: 50px;
    margin: 15px 15px 10px 0;
}
  #clg{
    font-size:1.1em;
    position:absolute;
    right:10px;
  }
  .navbar-brand h1 {
    font-size:3em;
    line-height: .9;
    margin-top:10px;
  }
  
  .navbar-brand {
    padding-top: 0;
}
}

@media (max-width: 767px) {
  col-sm-12{
    width:100%;
  }
  #search{
    width:150px;
  }
  .navbar-header{
    height:0;
  }
  #input{
  width:120px;
  height: 20px;
}
.glyphicon-search:before {
    position: relative;
    left: 0px;
    top: 5px;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: 0; 
}
.navbar-toggle{
  margin:2px 0px 2px;
      padding: 6px 8px;
}
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5.5vw; 
   
  }
  #slogan{ 
    font-size: .7em;
    margin-top: 12px;
  }
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; 
  }
  .panel-footer section hr {
    width: 50%;
  }
  .container .jumbotron {
    margin-top: 50px;
    padding: 0;
  }
  
   #logo-img {
    background: url('j.jpg') no-repeat;
    margin: 5px 5px 5px 5px;
    width: 120px;
    height: 100px;
}
  #clg{
    font-size:0.8em;
    position:absolute;
    right:10px;
  }
  .navbar-toggle{
    background-color: #CCCCCC;
  }
  .navbar{
  min-height: 0px; 
}
}

@media (max-width: 580px) {
  #input{
  width:60px;
  height: 12px;
}
.container .jumbotron {
    margin-top: 50px;
    padding: 0;
  }
  .navbar-brand{
        padding: 0px 10px 0 0;
  }
  .navbar-brand h1 {  
    padding-top: 5px;
    font-size: 6.5vw;
    width:50%;
    line-height: 1;
  }
    .panel-footer {
    padding-top: 0;
    padding-bottom: 15px;
    background-color: #222;
    border-top: 0;
    font-size: 0.6em;
}
.panel-footer section {
    margin-bottom: 10px;
        margin-top: 20px;
    text-align: center;
}
.panel-footer div.row {
    margin-bottom: 15px;
}
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
  #slogan{
    font-size:0.5em;
        text-align: left;
        width:60%;
        line-height: 1.3;
  }
  
  #logo-img{
    background: url('j.jpg') no-repeat;
    margin: 5px 5px 5px 0;
    height: 85px;
    width: 100px;
  }
  #clg{
    font-size:0.6em;
    position: absolute;
    right: 0;
  }
  #map span,#sponsors span,#event span{
    width: 100%;
  }
  .glyphicon-search:before {
    position: relative;
    left: 0px;
    top: 5px;
}
.navbar{
  min-height: 0px; 
}
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: white;
}
