header{
  background-color: #CCCCCC;
}
body {
  font-size: 16px;
  color: #fff;
  background-color: #CCCCCC;
  font-family: 'Oxygen', sans-serif;
}
toggle:hover {
    background-color: white;
}
#header-nav {
  background-color: white;
  border-radius: 0;
  border: 0;
  box-sizing:border-box;
}
#search{
      border-radius: 5px;
    margin-top:5px;
    height: 35px;
    color:black;
    font-family:"Times New Roman", Times, serif;
    font-style: normal;
}
.glyphicon-search:before {
    content: "\e003";
    /* float: right; */
    position: relative;
    left: 220px;
    top: 15px;
}
#input{
  margin:0 0 5px 5px;
  width:250px;
}
button{
 margin-left: 43%;
}

#clg{
 font-family: 'Playfair Display', serif;
 /* position:absolute;
  right:20px;*/
  font-size:1.5em;
 font-weight:bold;
  color:black;vertical-align: middle;
  padding:0;
 margin-top:30px;
 text-align: right;
 margin-bottom: 10px;
 float:left;
}
#logo-img {
  background-image: url("j.jpg");
    background-repeat: no-repeat;
  width: 240px;
  height: 160px;
  margin: 10px 15px 10px 0;
padding :10px;}

.navbar-brand {
  padding-top: 25px;
  float:none;
}
.navbar-brand h1 { 
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  color:black;
  float:left;
 /* width:550px;*/
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#slogan {
  font-style: italic;
  color: black;
  text-transform: uppercase;
  font-size: 1em;
  margin-top: 15px;
  float: left;
}
.navbar-brand p span { 
  vertical-align: middle;
}
#header-nav{
  margin-bottom: 0;
}
#nav-list {
  margin-top: 10px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  /*margin-top: -30px;*/
}
.panel-footer section{
  text-align:center;
}
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 25px;
}

@media (min-width: 1200px) {
/*#input, #search{
  width:250px;
}
.glyphicon-search:before {
    position: relative;
    left: 270px;
    top: 15px;
}
#input{
  height:25px;
}*/
.col-lg-9{
  width:66%;
}
.col-lg-3{
  width:33%;
}
/*.container{
  width:1170px;
}*/
}


@media (min-width: 992px) and (max-width: 1199px) {
 #clg{
      font-size: 1.2em;
}
#input, #search{
  width:200px;
}
h1{
      font-size: 3.5em;
}
  /*#logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 80%;
    height: 80%;
    margin: 5px 5px 5px 0;
  }
  .glyphicon-search:before {
    position: relative;
    left: 220px;
    top: 15px;
}
#logo-img {
  width:200px;
}
#slogan{
  margin-bottom:10px;
  font-size: 0.8em;
}
  .container{
    width:1190px;
  }*/
 .col-lg-9{
  width:66%;
}
.col-lg-3{
  width:33%;
}
}


@media (min-width: 768px) and (max-width: 991px) {
/*#input, #search{
  width:150px;
}
.container {
    width: 980px;
}
.glyphicon-search:before {
    position: relative;
    left: 170px;
}
#slogan{
  margin-top:18px;
}
  #logo-img {
   background-image: url("j1.jpg");
    float: left;
    width: 160px;
    height: 120px;
    margin-top: 50px;
    margin: 15px 15px 10px 0;
}
  #clg{
    font-size:1.1em;
    position:absolute;
    right:10px;
  }
  .navbar-brand h1 {
    font-size:3em;
    line-height: .9;
    margin-top:10px;
  }
  
  .navbar-brand {
    padding-top: 0;
}*/
.col-md-6{
  width:50%;
}
.col-md-9{
  width:66%;
}
.col-md-3{
  width:33%;
}
#slogan{
  font-size: 0.9em;
    margin-top: 15px;
    float: left;
}
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: white;
}
.navbar-toggle{
  
      padding: 6px 8px;
}
@media (max-width: 767px) {
  .col-sm-12{
    width:100%;
  }
  .glyphicon-search:before {
    content: "\e003";
    position: initial;
  }
  #footer-sites{
    margin-top: 25px;
  }
  /*
  #search{
    width:150px;
  }
  .navbar-header{
    height:0;
  }
  #input{
  width:120px;
  height: 20px;
}
.glyphicon-search:before {
    position: relative;
    left: 0px;
    top: 5px;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: 0; 
}
.navbar-toggle{
  margin:2px 0px 2px;
      padding: 6px 8px;
}
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5.5vw; 
   
  }
  #slogan{ 
    font-size: .7em;
    margin-top: 12px;
  }
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; 
  }
  .container{
    width:760px;
  }
  
   #logo-img {
    background: url('j2.jpg') no-repeat;
    margin: 5px 5px 5px 5px;
    width: 120px;
    height: 100px;
}
  #clg{
    font-size:0.8em;
    position:absolute;
    right:10px;
  }
  .navbar-toggle{
    background-color: #CCCCCC;
  }
  .navbar{
  min-height: 0px; 
}
.*/
}

@media (max-width: 580px) {
 .col-sm-12{width:100%;}
 .navbar-brand h1 {  
    padding-top: 5px;
    font-size: 2.5em;
    line-height: 1;
  }
 .navbar-brand{
        padding: 0px 10px 0 0;
  }
#logo-img{
    background: url('j3.jpg') no-repeat;
    margin: 5px 5px 5px 0;
    height: 85px;
    width: 100px;
  } 
  #input{
  width:150px;
  height: 25px;
}
#slogan{
    font-size:0.75em;
        line-height: 1;
  }
  #clg{
    font-size:1em;
    font-family: "Times New Roman", Times, serif;
   margin-top:0;
    font-weight: normal;
  }
  button{
        width: 44px;
    height: 20px;
    font-size: 12px;
  }
  .glyphicon-search:before {
    content: "\e003";
    position: initial;
  }
  #slogan{
    height:25px;
  }
  #footer-sites{
    margin-top: 25px;
  }
  /*
    .panel-footer {
    padding-top: 0;
    padding-bottom: 15px;
    background-color: #222;
    border-top: 0;
    font-size: 0.6em;
}
.panel-footer section {
    margin-bottom: 10px;
        margin-top: 20px;
    text-align: center;
}
.panel-footer div.row {
    margin-bottom: 15px;
}
  .glyphicon-search:before {
    position: relative;
    left: 0px;
    top: 5px;
}
.navbar{
  min-height: 0px; 
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: white;
}
*/
}

